asgiref==3.11.1
cross-web==0.7.0
Django==6.0.6
django-cors-headers==4.9.0
graphql-core==3.2.11
packaging==26.2
pillow==12.2.0
python-dateutil==2.9.0.post0
six==1.17.0
sqlparse==0.5.5
strawberry-graphql==0.319.0
typing_extensions==4.15.0
tzdata==2026.2
requests==2.34.2
google-auth==2.55.2
